#h
{
	text-align:center;
	color:green;
}
#d1
{
	text-align:left;
	color:red;
}
#d2
{
	text-align:left;
	color:red;
}
#d3
{
text-align:left;
	color:red;	
}
#p1
{
	text-align:right;
	color:blue;
}
#p2
{
	text-align:right;
	color:blue;
}
#p3
{
text-align:right;
	color:blue;	
}
#p4
{
	text-align:right;
	color:blue;
}
#p5
{
	text-align:right;
	color:blue;
}